*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333333;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    position: relative;
}


.container_result{
    position: absolute;
    height: 65%;
    width: 35%;
    left: 33%;
    top: 20%;
}

.form_container{
    width: 70%;
    height: 50%;
    background-color: rgba(59, 37, 37, 0.637);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
} 
.resultado{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(192, 188, 188, 0.637);
    border: solid 1px red;
}


#PizzaId{
    outline: none;
    font-size: 1rem;
}
#button{
    font-size: 1rem;
}
#img{
    display: none;
    height: 165px;
    width: 165px;
    /* width: auto; */
    object-fit: cover;
}